
*{
padding:0;
margin:0;
}

:root{
--espacio:2rem;
}

.section__inicio{
height:100vh;
background:url(img/imagen-fondo.jpg);
display:grid;
grid-template-rows:min-content 1fr;
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

.inicio__header{
display:flex;
justify-content: space-between;
padding:2rem 0 2rem 0;
}

.inicio__contenido-principal{
display:grid;
align-content: center;
gap:.5rem;
}

.header__logo{
color:#fff;
font-family:sans-serif;
font-size:2rem;
padding-left:var(--espacio);
align-self: center;
}

.header__nav{
padding-right:var(--espacio);
align-self: center;
}

.nav__link{
color:#fff;
font-size:1.3rem;
text-decoration:none;
font-family:sans-serif;
margin:.5rem;
}

.contenido-principal__titulo{
font-size:6rem;
color: #fff;
font-family:sans-serif;
padding-left:var(--espacio);
font-family: "Pathway Gothic One", sans-serif;
}

.contenido-principal__texto{
font-size:1.3rem;
color:#fff;
font-family:sans-serif;
padding-left:var(--espacio);
}

.contenido-principal__form{
padding-left:var(--espacio);
}

.form__input{
height:2rem;
border:none;
outline:none;
border-bottom:.1rem solid #fff;
background:transparent;
color:#fff;
font-family:sans-serif;
transition:.3s; 
}

.form__input::placeholder{
color:#fff;
font-family: sans-serif;
}

.form__input:hover{
background:rgba(200,200,200, 40%);
transition:.3s; 
}

.boton{
width:2rem;
margin-left:.2rem;
}

.section__info{
background:url(img/imagen-fondo2.jpeg);
background-position:center center;
background-size: cover;
background-repeat:no-repeat;
padding:1rem .5rem 1rem .5rem;
display:flex;
flex-direction:row;
justify-content:space-between;
gap:.5rem;
}

.info__contenedor{
width:20rem;
display:grid;
gap:.4rem;
}

.contenedor__texto{
font-size:1.2rem;
font-family:sans-serif;
color:#fff;
}

.contenedor__img{
height:4rem;
width:4rem;

}

.quienes-somos{
display:flex;
flex-wrap:wrap;
flex-direction:row;
justify-content: center;
background:rgb(230,230,230);
padding:3rem .5rem 3rem .5rem;
gap:2rem;
}

.quienes-somos b,p{
font-size:1.2rem;
color: #000;
font-family: sans-serif;
}

.quienes-somos__contenedor-b{
padding:0 0 0 2rem;
flex-basis: 100vw;
}
  
.contenedor-b__titulo{
border-bottom:.1rem solid #000;
}

.quienes-somos__img{
height:20rem;
width:30rem;
}

.quienes-somos__quienes-somos-cont-info{
width:30rem;
display:grid;
}

.quienes-somos-cont-info__titulo{
text-align:center;
}

.contenedor-opciones-casas{
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
padding:1rem;
gap:1rem;
}

.contenedor-opciones-casas__link{
text-decoration:none;
}

.caja--1{
background: url(img/casa-pequeña.jpg);
}
    
    
.caja--2{
background: url(img/casa-moderna.jpg);
}
    
.caja--3{
background: url(img/casa-grande.jpg);
}

.contenedor-opciones-casas__caja{
height:24rem;
width:17rem;
border-radius:.5rem;
background-repeat:no-repeat;
background-position:center center;
background-size:cover;
transition:.3s;
padding:.5rem 0 0 0;
cursor:pointer;
}

.contenedor-opciones-casas__caja:hover{
width:19rem;
transition:.3s;
}

.contenedor-opciones-casas__caja b{
font-family: sans-serif;
display:block;
background:linear-gradient(to right, #000000, transparent);
color:#fff;
padding:.5rem .5rem .5rem .5rem;
}

.footer{
background:#000;
display:grid;
justify-content:center;
gap:.2rem;
padding:3rem 0 3rem 0;
}

.footer__link{
text-decoration:none;
color:#fff;
display:flex;
flex-direction:row;
}

.link__img{
height:1rem;
width:1rem;

margin-right:.5rem;
align-self:center;
}

.link__texto{
color:#fff;
font-family:serif;
}



@media screen and (max-width:1100px){
  .header__logo{
    font-size:1.7rem;
    }


.nav__link{
font-size:1rem;
}
    
.contenido-principal__titulo{
font-size:5.5rem;
}
    
.contenido-principal__texto{
font-size:1rem;
}

.contenedor__texto{
font-size:1rem;
}
      
.contenedor__img{
height:3rem;
width:3rem;
}

.quienes-somos b,p{
font-size:1rem;
color: #000;
font-family: sans-serif;
}
        
.quienes-somos__contenedor-b{
padding:0 0 0 2rem;
flex-basis: 100vw;
}
          
.contenedor-b__titulo{
border-bottom:.1rem solid #000;
}
        
.quienes-somos__img{
height:14rem;
width:24rem;
}
        
.quienes-somos__quienes-somos-cont-info{
width:23rem;
display:grid;
}
        
.quienes-somos-cont-info__titulo{
text-align:center;
}

.contenedor-opciones-casas__caja{
height:21rem;
width:14rem;
}

.contenedor-opciones-casas__caja:hover{
width:16rem;
}


.contenedor-opciones-casas__caja b{
font-size:1rem;
}



}








@media screen and (max-width:900px){

  .header__logo{
    font-size:1.5rem;
    }


  .nav__link{
    font-size:.9rem;
    }
        
    .contenido-principal__titulo{
    font-size:5rem;
    }
        
    .contenido-principal__texto{
    font-size:.9rem;
    }
    
    .contenedor__texto{
    font-size:.9rem;
    }
          
    .contenedor__img{
    height:2.5rem;
    width:2.5rem;
    }
    
    .quienes-somos b,p{
    font-size:.9rem;
    color: #000;
    font-family: sans-serif;
    }
            
    .quienes-somos__contenedor-b{
    padding:0 0 0 2rem;
    flex-basis: 100vw;
    }

    .quienes-somos__contenedor-b{
      padding:0 0 0 1rem;
    }
              
    .contenedor-b__titulo{
    border-bottom:.1rem solid #000;
    }
            
    .quienes-somos__img{
    height:12rem;
    width:19rem;
    }
            
    .quienes-somos__quienes-somos-cont-info{
    width:21rem;
    display:grid;
    }
            
    .quienes-somos-cont-info__titulo{
    text-align:center;
    }
    
    .contenedor-opciones-casas__caja{
    height:17rem;
    width:12rem;
    }

    .contenedor-opciones-casas__caja b{
      font-size:.9rem;
    }
    
    .contenedor-opciones-casas__caja:hover{
    width:14rem;
    }
}






@media screen and (max-width:750px) {
  .header__logo{
    font-size:1.3rem;
    }


  .contenido-principal__titulo{
  font-size:4rem;
  }
    
  .contenido-principal__texto{
  font-size:.8rem;
  }

.info__contenedor{
width:20rem;
display:grid;
gap:.4rem;
}
    
.contenedor__texto{
font-size:.8rem;
}
    
.contenedor__img{
height:3rem;
width:3rem;
}

.quienes-somos b,p{
font-size:.8rem;
}

.quienes-somos__quienes-somos-cont-info{
width:17rem;
}

.quienes-somos__img{
height:10rem;
width:16rem;
align-self:center;
}

.contenedor-opciones-casas__caja b{
  font-size:.8rem;
}

}





@media screen and (max-width:620px){

.quienes-somos b,p{
font-size:.8rem;
}

.quienes-somos__quienes-somos-cont-info{
  width:14rem;
  }

.quienes-somos img{
  height:9rem;
  width:15rem;
}


}






/*
*{
padding:0;
margin:0;
}

body{
font-size:20px;
}

.article-inicio{
height:100vh;
width:100vw;
background:rgb(150 150 150);
background:url(img/imagen-fondo.jpg);
display:grid;
grid-template-rows:5rem auto;
background-repeat:no-repeat;
background-position:center center;
background-size:cover;
}

  .header{
  height:5rem;
  width:100vw;
  display:grid;
  grid-template-columns:70vw auto auto auto;
  }

    .logo{
    font-size:3.3rem;
    font-family: "Pathway Gothic One", sans-serif;
    color:#fff;
    margin:.5rem;
    justify-self:start;
    align-self:center;
    margin-left:3rem;
    }

    .logo::after{
    content:".";
    color:rgb(150,150,150);
    }

    .article-inicio a{
    font-size:1.5rem;
    font-family:sans-serif;
    align-self:center;
    justify-self:start;
    color:#ededed;
    text-decoration:none;
    border-bottom:.2rem solid transparent;
    transition:.3s;
    }

    .article-inicio a:hover{
    background:linear-gradient(to top, rgba(255,255,255, 10%) 10%, transparent);
    border-bottom:.2rem solid #fff;
    color:#fff;
    transition:.3s;
    }

  .inicio-primera-vista{
  width:100vw;
  display:grid;
  grid-template-rows:14rem 2.5rem 3rem;
  align-content:center;
  }

    .inicio-primera-vista h1{
    font-size:6rem;
    font-family: "Pathway Gothic One", sans-serif;
    margin-left:4rem;
    color:#fff;
    }

    .inicio-primera-vista p{
    font-size:1,9rem;
    font-family:sans-serif;
    margin-left:4rem;
    font-weight:700;
    color:#fff;
    }

    .inicio-primera-vista form{
    height:2rem;
    width:15rem;
    display: grid;
    grid-template-columns:90% 10%;
    margin-left:4rem;
    gap:.1rem;
    }

      .inicio-primera-vista form input{
      height:2rem;
      background:transparent;
      border:none;
      outline:none;
      border-bottom:.1rem solid #FFF;
      color:#fff;
      }

      .inicio-primera-vista form input::placeholder{
      color:#fff;
      }

      .inicio-primera-vista form input:hover{
      background:rgba(200,200,200, 40%);
      transition:.3s;
      }

/*
.article-sabe{
height:30vh;
width:100vw;
display:grid;
grid-template-columns:auto auto auto;
justify-content:center;
background:url(img/imagen-fondo2.jpeg);
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

  .article-sabe-caja{
  height:100%;
  display:grid;
  grid-template-rows:5rem 2rem 2rem;
  align-content:center;
  }

    .article-sabe-caja img{
    height:4rem;
    width:4rem;
    margin-left:1rem;
    filter:invert(100%);
    }

    .article-sabe-caja strong{
    font-family:sans-serif;
    margin-left:1rem;
    color:#fff;
    }

    .article-sabe-caja p{
    font-family:sans-serif;
    margin-left:1rem;
    color:#fff;
    }


.article-trabajando{
height:60vh;
width:100vw;
background:rgb(230,230,230);
display:grid;
grid-template-columns:auto auto;
grid-template-rows:auto auto auto auto auto;
place-content:center;
gap:1rem;
}

.article-trabajando b{
font-family:sans-serif;
}

.article-trabajando-titulo{
grid-column:1/3;
border-bottom:.1rem solid #000;
padding:.1rem;
justify-self:start;
}

.article-trabajando-img{
height:20rem;
width:33rem;
grid-row:2/6;
}

.article-trabajando p{
font-family:sans-serif;
width:21rem;
}


.contenedor-opciones-casas{
height:60%;
width:100vw;
display:grid;
place-content:center;
grid-template-columns:auto auto auto;
gap:2rem;
background:rgb(255,255,255);
}

.contenedor-opciones-casas div{
height:26rem;
width:15rem;
border-radius:.2rem;
display:grid;
align-content:end;
transition:.3s;
}

.contenedor-opciones-casas div:hover{
width:20rem;
transition:.3s;
}

.contenedor-opciones-casas div b{
font-family:sans-serif;
font-size:1.2rem;
color:#000;
justify-self:center;
}

.contenedor-opciones-casas a{
height:2rem;
width:90%;
justify-self:center;
margin-bottom:1rem;
}

.contenedor-opciones-casas button{
height:2rem;
width:90%;
border:none;
background:#000;
color:#fff;
transition:.3s;
border-radius:.2rem;
}

.contenedor-opciones-casas button:hover{
background:#fff;
color:#000;
transition:.3s;
}

.caja1{
background-image:url(img/casa-pequeña.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center center;
}

.caja2{
background-image:url(img/casa-grande.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center center;
}

.caja3{
background-image:url(img/casa-moderna.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center center;
}



.informacion-contacto{
  height:25vh;
  width:100vw;
  background:rgb(245,245,245);
  display:grid;
  grid-template-columns:auto auto auto;
  grid-template-rows:auto auto auto;
  gap:2rem;
  place-content:center;
  }
  
  .informacion-contacto-titulo{
  grid-column:1/4;
  justify-self:center;
  }
  
  .contenedor-img{
  height:4rem;
  width:4rem;
  display:grid;
  place-content:center;
  background:#d8be77;
  border-radius:2rem;
  justify-self:center;
  }
  
  .informacion-contacto a,b{
  font-family:sans-serif;
  font-size:1.2rem;
  justify-self:center;
  }
  
  .informacion-contacto img{
  height:2rem;
  width:2rem;
  justify-self:center;
  }
  


footer{
height:15vh;
width:100vw;
background:#000;
display:grid;
grid-template-columns:3rem 3rem;
place-content:center;
}

footer p{
color:#fff;
font-family:sans-serif;
margin:.1rem;
}

footer p:first-child{
grid-column:1/3;
}

footer img{
height:2rem;
width:2rem;
filter:invert(100%);
}

.img-redes{
height:2rem;
width:2rem;
}

@media screen and (max-width:500px){
  .logo{
  font-size:1.5rem;
  
  }

  .header a{
  font-size:.7rem;
  }

  .article-inicio a{
  border-bottom:.1rem solid transparent;
  }

  .article-inicio a:hover{
  border-bottom:.1rem solid #fff;
  }

  .inicio-primera-vista h1{
  font-size:2rem;
  }

  .inicio-primera-vista p{
  font-size:.7rem;
  }

  .inicio-primera-vista{
    grid-template-rows:5rem .7rem 1rem;
  }

  .inicio-primera-vista form{
  width:6rem;
  }

  .inicio-primera-vista form input{
  height:1.5rem;
  }

  .article-sabe-caja{
  grid-template-rows:auto auto auto;
  }

  .article-sabe-caja img{
  height:1.8rem;
  width:1.8rem;
  }

  .article-sabe-caja strong{
  font-size:.7rem;
  margin-left:.5rem;
  margin:.5rem;
  }
  .article-sabe-caja p{
  font-size:.7rem;
  margin-left:.5rem;
  }

  .article-trabajando-titulo{
  font-size:1rem;
  }

  .article-trabajando-img{
  height:11rem;
  width:15rem;
  }

  .article-trabajando b{
  font-size:1rem;
  }

  .article-trabajando p{
  font-size:.7rem;
  width:11rem;
  }

  .contenedor-opciones-casas div{
  height:13rem;
  width:7rem;
  }

  .contenedor-opciones-casas div:hover{
  width:8rem;
  }

  .contenedor-opciones-casas div b{
  font-size:.7rem;
  }

  .contenedor-opciones-casas button{
  height:1.3rem;
  }

  .informacion-contacto{
  grid-template-rows:2rem 1rem 1rem;
  gap:.5rem;
  }
  
  .informacion-contacto div{
  height:2rem;
  width:2rem;
  }

  .informacion-contacto img{
  height:1.5rem;
  width:1.5rem;
  }

  .informacion-contacto a,b{
  font-size:1rem;
  }
}

*/